/** global input radio should no height defined **/
.tbl-wrap input[type="radio"] {
    height: 10px;
}
/** end global input radio should no height defined **/

#actlog{
	list-style-type:none;
}

#actlog h3{
	border-bottom:1px solid #c0c0c0;
	margin:0;
	padding:0;
}

.cbtnadd {
    margin: 0 6px;
    padding-left: 0;
    padding-right: 0;
    width: 57px;
}

.ihide{display:none;}

.error_zone{display:block;padding-bottom: 5px;}
.complist{
	list-style-type:none;
}
.complist li {
    display: block;
    text-align: left;
    width: 100%;
}
span.errors{
	display:block;
}

.error {
    color: #BA3F3F;
}

/** fields **/

.emp_fields,.cost_inputs{
 padding:3px; 
}

.inputs{
	padding:3px;
}


.input_level {
    width: 30px;
}

.btn.append_prin_del{
	width: 138px;
	
}
/** end fields **/
/*** cost center **/
.btn.cost_append_del{
width: 125px;
}
.ccode{
width:90px;
}
.btn-action.makewitdth{
width: 129px;
}
/** end cost center **/

/* highlight message(jc) - start */
.highlight_message{
	background-color: #D7F3BD;
    display: inline-block;
    margin-bottom: 11px;
    padding: 8px
}
/* highlight message(jc) - end */

.list_logos{
width:200px;
height:200px;
}

input.btn[type="submit"] {
    height: 27.4px;
    padding-bottom: 4px;
    padding-top: 4px;
	font:12px Trebuchet MS,​Arial,​Helvetica,​sans-serif
}

.ownerd,.view_company .jowner
{
	width:200px;
}
.jview_name,.jview_city,.jview_street{
	text-transform:capitalize;
}

.list_logos_small{
	width:50px;
	height:50px;
}

.complist > li {
    padding-bottom: 10px;
}

.list_logos{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.list_logos:hover {
  opacity:0.3;
}


/** hr users input **/
.inp_user{
	width:200px;
	padding:3px;
}
.users_text{
	width:200px;
}
/** hr users input **/
/** pagination purposes **/

#pagination  a{
    background: none repeat scroll 0 0 #44829C;
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    line-height: 19px;
    min-width: 40px;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.pagi-rights{
	width:auto;
}

/** end paginations purposes **/

/** bogart application css **/
/** leave application css **/
.text_search{
	padding-right:10px;
}

.jfilter {
    line-height: 31px;
}
.date_isearch{
	width:80px;
	margin:0 5px 0 0;
}
.ipadright{
	margin-right:5px;
}
.ipadleft{
	margin-left:5px;
}

/** end leave application css **/


/** end application css **/

/** users css **/
.input_width{
	width:245px;
}
.flright{
	text-align:right;
}
select#jpayroll_group{
	width:263px;
}
/** end users css **/
/** permissions **/
#select_assign option,#select_choosen option{
	margin:0;
	padding:3px;
}
/** end permissions **/
/*** input css global chris ***/
.input_pad{
	height:27px;
}
.iseparate{
	border-top: 1px solid #CCCCCC;
    clear: both;
    overflow: hidden;
    padding: 20px 0 10px;
}

.aghanims{
	width:250px;
	height:50px;
}
/*** end input css global chris ***/
/** chris manage users css **/
.emp_users_list .inp_user{
	width:158px;
}
.tbl.emp_users_list {
    width: 100%;
}
/** end manage users chris **/