
#actlog{
	list-style-type:none;
}

#actlog h3{
	border-bottom:1px solid #c0c0c0;
	margin:0;
	padding:0;
}

.cbtnadd {
    margin: 0 6px;
    padding-left: 0;
    padding-right: 0;
    width: 57px;
}

.ihide{display:none;}
.error_zone{display:block;padding-bottom: 5px;}
.complist{
	list-style-type:none;
}
.complist li {
    display: block;
    text-align: left;
    width: 100%;
}
span.errors{
	display:block;
}

.error {
    color: #BA3F3F;
}