.custom_h1{
	padding:10px 0;
}

.custom_white {
	color:#fff!important;
}

.emp_str{
	border: 1px solid #E14343;
}

#pagination li {
	list-style: none;
	margin-right: 5px;
	float: left;
}
#pagination li a{
	background:#686868!important;
}
#pagination .next a{
    background-image:url(../images/bg-nextarrow.png) !important;
	background-position:90% center !important;
	background-repeat:no-repeat !important;
	min-width:65px;
	padding:4px 15px 4px 0;
}
#pagination .prev a{
   background-image:url(../images/bg-prevarrow.png)!important;
	background-position:10% center!important;
	background-repeat:no-repeat!important;
	min-width:65px;
	padding:4px 0 4px 15px;
}
#pagination li.active {
	opacity: 0.8;
}
#pagination li a{
	min-width: 0;	
}

.pagiCont_btnCont #pagination {
	padding-bottom: 50px;
}
.addRowBtn {
	margin-bottom: 23px;
}
.loan_history_cont {
	margin-bottom: 25px;
}
.new_header_cont {
	margin-left: -30px;
}
#side-menu ul ul li a {
	background: none;
}
.error_msg_cont p{
	color: #E14343;
	padding: 0;
}
.error_msg_cont p:last-child{
	margin-bottom: 15px;
}