/* dialog box - start */
.jdialog{
	display:none;
}
.jdialog .inner_div{
	margin-top: 15px;
}
.jdialog input{
	width: 200px;
	height: 30px;
	padding-left: 5px;	
	margin-top: 10px;
}
.jdialog select{
	width: 200px;
	height: 30px;
	padding:4px 0 0 6px;
	margin-top: 10px;
}
.ui-dialog-buttonpane{
	border-top: none;
}
/* dialog box - end */
