/* dialog box - start */
.jdialog{
	display:none;
}
.jdialog .inner_div{
	margin-top: 15px;
}
.jdialog input{
	height: 25px;
	margin-top: 12px;
	width: 200px;
}
.ui-dialog-buttonpane{
	border-top: none;
}
/* dialog box - end */
/* highlight message - start */
.highlight_message{
	background-color: #D7F3BD;
    display: inline-block;
    margin-bottom: 11px;
    padding: 8px
}
/* highlight message - end */